@using FoodLog.DAL.Entities
@model Product

@{
    ViewData["Title"] = "Изменить продукт";
}

<div class="container createNew">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center my-5">Изменить продукт</h2>
            <form asp-action="Update" method="post">

                <input type="hidden" name="Guid" value="@Model.Guid" />

                <div class="form-group row my-2">
                    <label for="Name" class="col-sm-4 col-form-label">Название продукта</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Calories" class="col-sm-4 col-form-label">Каллории</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Calories" value="@Model.Calories" name="Calories" required>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Prot" class="col-sm-4 col-form-label">Белки</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Prot" value="@Model.Prot" name="Prot" required>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Fat" class="col-sm-4 col-form-label">Жиры</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Fat" value="@Model.Fat" name="Fat" required>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="Carb" class="col-sm-4 col-form-label">Углеводы</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="Carb" value="@Model.Carb" name="Carb" required>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="HarmScore" class="col-sm-4 col-form-label">Оценка вреда</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="HarmScore" value="@Model.HarmScore" name="HarmScore" required>
                    </div>
                </div>

                <div class="form-group row my-2">
                    <label for="TrashPercentage" class="col-sm-4 col-form-label">Процент на списание</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="TrashPercentage" value="@Model.TrashPercentage" name="TrashPercentage" required>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-outline-primary">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container d-grid justify-content-center">

<div id="_categories" class="mt-4"></div>
<div id="_createCategory"></div>
</div>




<script src="/js/jquery.min.js"></script>
<script>
    getCategories('@Model.Guid');
    getCreateCategory('@Model.Guid');

    function getCategories(prodGuid) {                                                 // Обновляем блок Категорий
        $.get('@Url.Action("IndexPartial", "ProductCategories")', { prodGuid: prodGuid }, function (content) {
            $("#_categories").html(content);
        });
    }

    function getCreateCategory(prodGuid) {                                                 // Обновляем блок добавления Категории
        $.get('@Url.Action("CreatePartial", "ProductCategories")', { prodGuid: prodGuid }, function (content) {
            $("#_createCategory").html(content);
        });
    }
</script>

