@*Список продуктов на складе List  StorageProduct.cs  *@
@*Partial*@

@using FoodLog.WebMVC.ViewModels;
@model IEnumerable<StorageLineVM>

<div class="container">
    <h2 class="mb-4 text-center">Продукты на складе</h2>
    <input type="hidden" id="productNameFilter" value="@ViewBag.Filter">

    <table class="cinereousTable" id="storageProductsTable">
        <thead>
            <tr>
                <th>Наименование продукта</th>
                <th>Текущий вес</th>
                <th>Потребляем</th>
                <th>Останется</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                double[] cost = new double[Model.Count()];
                //double[] remain = new double[Model.Count()];
                //double[] consume = new double[Model.Count()];
                foreach (var storageProduct in Model)
                {

                    cost[count] = storageProduct.CurrentCost * storageProduct.WeightConsume / 1000;


                    <tr data-product-id="@storageProduct.Guid">
                        <td>@storageProduct.ProductName</td>
                        <td>@storageProduct.CurrentWeight</td>
                        <td>@storageProduct.WeightConsume</td>
                        <td>@storageProduct.WeightRemainsAfter </td>
                        <td> @cost[count] </td>
                    </tr>
                }
            // TODO: суммы по столбцам
            }
            <tr>
                <td><strong>Итого:</strong></td>
                <td><strong><span id="totalWeight">0</span> г</strong></td>
                <td><strong><span id="totalConsume">0</span> г</strong></td>
                <td><strong><span id="totalRemain">0</span> г</strong></td>
                <td><strong><span id="totalCost">0</span> т</strong></td>
            </tr>
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />


<script src="/js/jquery.min.js"></script>
<script src="/js/storage.js"></script>

