@using FoodLog.DAL.Entities
@model IEnumerable<Purchase>

<div class="container">
    <div class="d-flex justify-content-end mb-2">
        <a class="btn btn-outline-danger" asp-controller="Purchases" asp-action="Create">Новая покупка</a>
    </div>

    <table class="cinereousTable">
        <thead>
            <tr>
                <th>Идентификатор продукта</th>
                <th>Дата</th>
                <th>Вес</th>
                <th>Цена</th>
                <th>Общая стоимость</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var purchase in Model)
            {
                <tr>
                    <td>@purchase.ProductGuid</td>
                    <td>@purchase.Date</td>
                    <td>@purchase.Weight</td>
                    <td>@purchase.Price</td>
                    <td>@purchase.Cost</td>
                    <td>
                        <a asp-action="Delete" asp-route-purchaseGuid="@purchase.Guid">
                            <i class="fa-regular fa-trash-can" style="font-size: 15px; color: red;"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
